body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 70vh 20vh;
  grid-template-areas:
    "h h"
    "m m"
    "f f";
}

h1 {
  font-size: 4em;
  text-align: center;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.header {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  grid-area: h;
  justify-content: center;
}

.navigation {
  text-align: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  display: block;
  padding: 0.5em 1em;
}

.hero {
  grid-area: m;
  background-color: #000;
  color: #fff;
}

.footer {
  grid-area: f;
  align-items: center;
  font-size: 0.8em;
}
